<div class="footer">
  <div>
    <p class="copyright"> Copyright 2021 © EXAMPLE, Inc. All rights reserved.</p>
  </div>
  <div class="socialMedia">
    <a href="https://www.facebook.com/EXAMPLE/">
      <img class="socialMediaAvatar"
        alt="facebook_icon"
        src="assets/images/cookbook/facebook_icon.png"/>
    </a>
    <a href="https://twitter.com/EXAMPLE">
      <img class="socialMediaAvatar"
        alt="twitter_icon"
        src="assets/images/cookbook/twitter_icon.png"/>
    </a>
    <a href="https://www.linkedin.com/company/mycompany/">
      <img class="socialMediaAvatar"
        alt="linkedin_icon"
        src="assets/images/cookbook/linkedin_icon.png" />
    </a>
  </div>
</div>