<div class="container">
  <img src="../../../assets/images/cookbook/cb-background.jpg" style="width:100%;">
  <div class="centered">
    <div class="heading">ANGULAR COOKBOOK</div><br/>
    <div class="sub-heading">A collection of recipes for common Angular application.</div><br/>
      <app-button [text]="'Get Started'" btnType="p-button-danger" (click)="onGetStartedClick()"> </app-button>
  </div>

  <div class="top-left">
    <img src="../../../assets/images/cookbook/UST_Logo.png" style="width: 80px; height: 80px;">
  </div>
</div>