<app-header></app-header>
<h2> Form Example </h2>
<form [formGroup]="form">
<app-input placeholder="First Name" formControlName="firstName" ngDefaultControl></app-input> &nbsp;
<app-input placeholder="Middle Name" formControlName="middleName" ngDefaultControl></app-input> &nbsp;
<app-input placeholder="Last Name" formControlName="lastName" ngDefaultControl></app-input> &nbsp;
<app-input placeholder="Phone Number" formControlName="phoneNumber" ngDefaultControl></app-input> &nbsp;
<app-input placeholder="SSN Number" formControlName="ssnNumber" ngDefaultControl></app-input> <br/>

<app-radio [itemsarray]="objectArray" [typeofitem]="'keyvalue'" formControlName="radioChoice" ngDefaultControl></app-radio> 

<app-dropdown [dropdownOptions]="dropdownOptions" formControlName="vehicleDropdown" ngDefaultControl [searchable]="false" placeholder="Please Choose Value" (selectedEvent)="onDataSelectEvent($event)"> </app-dropdown>

<app-textarea [rows]="3" [cols]="30" placeholder="Enter your comments"
    controlName="comment" formControlName="comment" ngDefaultControl></app-textarea> <br/> <br/>

<app-button [text]="'Submit'"> </app-button> &nbsp;
<app-button [text]="'Clear'" btnType="p-button-secondary"> </app-button>
</form>
{{form.value | json}}

<app-footer></app-footer>