<app-header></app-header>
<div class="row">
  <div class="column">
    <div class="card" (click)=formsBtn()>
      <h3>Forms</h3>
      <p>Model-driven approach to handling form inputs whose values change over time</p>
    </div>
  </div>

  <div class="column">
    <div class="card" (click)=ngRxBtn()>
      <h3>NgRx</h3>
      <p>NgRx Store provides reactive state management for Angular apps</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card" (click)=apiBtn()>
      <h3>API Calls</h3>
      <p>Simplified client HTTP API for Angular applications</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card" (click)=validationsBtn()>
      <h3>Custom Validations</h3>
      <p>including synchronous and asynchronous, field-level, form-level</p>
    </div>
  </div>
</div>
<app-footer></app-footer>